.CCAssistant_Danger {
	background-color: #F77878 !important;
	font-weight: bold !important;
}

.CCAssistant_Warning {
	background-color:#E2C928 !important;
}

.CCAssistant_OnHold {
	background-color: #A5E9FF;
}

.CCAssistant_Safe {
	background-color: #6DEF6D !important;
}